#hannhover-wrapper{
	position:relative;
	top:0px;
	display:inline-block;
 	min-width:100%;
	min-height:500px;
}
#hannhover-container{
	border-right:1px solid grey;
	display:block;
	width:50%;
	float:left;
	min-height:25%;

}
#hannhover-result{
	display:block;
	float:right;
	top:0px;
	width:50%;
	min-height:25%;
}

#hannhover-container >a.hannhoverjs-link{
 	border-bottom:1px solid black;
}

